.productsPage> header  {
    text-align: y;
}

.productsCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: var(--space-md);
    margin-inline: auto;
    padding-inline: var(--space-sm);
    justify-content: center;
    padding: 8rem 0;
}

@media (min-width:768px) {
    .productsCards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  }
}