
.loginContainer {
    border: 1px solid var(--border);
    padding: 1rem 1.25rem;
    width: clamp(300px, 70%, 500px);
    margin: 0 auto;
}
.loginContainer > header {
    font-size: 1.25rem;
    color: var(--text);
    text-align: center;
    padding: 2rem;
}
.adminForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
