
.loginContainer {
    border: 1px solid var(--border);
    padding: 1rem 1.25rem;
    width: clamp(300px, 70%, 500px);
    margin: 0 auto;
}
.loginContainer > header {
    font-size: 1.25rem;
    color: var(--text);
    text-align: center;
    padding: 2rem;
}
.adminForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    margin: 0 auto;
}
.loginMessage {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    padding: 0.75rem;
    border-radius: var(--radius);
    margin-bottom: var(--space-md);
    font-size: 0.85rem;
}
.loginMessage.success {
    background-color: var(--success);
    color: var(--succes-text);
}

.loginMessage.error {
    background-color: var(--accent);
    color: var(--danger); 
}
