.comms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.comms > div {
    border: 1px solid burlywood;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    gap: 10px;
    padding: 20px;
}
.commsText {
    text-align: left;
}
.commsText > p {
    font-size: 0.9rem;
}
