.hero {
    padding: 150px 0;
    position: relative;
    background-image: 
        linear-gradient(rgba(241, 236, 236, 0.4), rgba(238, 238, 238, 0.4)), 
        url('../assets/images/hero1.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 27, 27, 0.4); /* Light overlay */
    z-index: -1; /* Place behind the text */
}

.hero > strong {
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    display: block;
    text-shadow: 0 2px 4px rgba(247, 230, 84, 0.2);
    color: aliceblue;
}
.heroBtns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}
