.hero {
    padding: 200px 20px;
    position: relative;
    background-image: 
        linear-gradient(rgba(241, 236, 236, 0.4), rgba(238, 238, 238, 0.4)), 
        url('../assets/images/hero1.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    color: var(--primary-text);
    min-height: 90vh;
    width: 100%;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 27, 27, 0.6); /* Light overlay */
    z-index: -1; /* Place behind the text */
}

.heroBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}
.callBtn, .quoteBtn {
    height: 40px;
    background-color: var(--primary-text);
}

.callBtn {
    background-color: var(--button-bg);
}
.callBtn > svg {
    color: var(--text);
}
.callBtn:hover {
  background-color: var(--button-hover);
}
.hero > p {
    color: var(--primary-text);
}

@media (min-width:576px) {
    .heroBtns {
        flex-direction: row;
        justify-content: center;
        padding: 40px 0;
    }
}
