.desktopNav{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    gap: 0.75rem;
    background-color: var(-bg);
    box-shadow: 0 2px 5px var(--card);
}

.desktopNav > button {
    height: 40px;
    background-color: var(--button-bg);
}
.desktopNav > h4 {
    flex: 1;
}

.mobileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 5px #0000001a;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    background-color: var(--bg);
}

.dropdown {
    max-height: 0;
    opacity: 0;
    background-color: var(--bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid var(--border);

    transition:
        all 0.5s ease
}
.dropdown.open {
    z-index: 100;
    max-height: 50vh;
    opacity: 1;
    padding: 1rem 1.25rem;
}
.dropdown > div, .desktopNav > div{
    cursor: pointer;
}
.dropdown > div:hover, .desktopNav > div:hover {
    color: var(--button-hover);
}
button {
    background-color: var(--button-bg);
}

@media (min-width: 570px) {
    .desktopNav {
        display: flex;
    }
    .mobileNav {
        display: none;
    }
    .dropdown.open {
        display: none;
    }
}

@media (min-width: 768px) {
    .desktopNav{
        padding: 1rem 2rem;
        font-size: 1rem;
        gap: 1rem;
    }
}
