.desktopNav{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 0.8rem;
    gap: 5px;
}
.desktopNav > button {
    height: 40px;
    margin: 0 0 0 10px;
}
.desktopNav > h4 {
    flex: 1;
}

.mobileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: 1px 10px 5px 0px rgb(187, 182, 182);
    padding: 20px;
    font-size: 1.2rem;
}

.dropdown {
    max-height: 0;
    transition:
        all 1s ease 0.1s
}
.dropdown.open {
    z-index: 100;
    background-color: var(--bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 45vh;
    opacity: 0.8;
    border-top: 1px solid var(--border);
    padding: 10px 20px;
    text-align: left;
}
button {
    background-color: var(--button-bg);
}

@media (min-width: 570px) {
    .desktopNav {
        display: flex;
    }
    .mobileNav {
        display: none;
    }
    .dropdown.open {
        display: none;
    }
}

