.desktopNav{
    display: none;
}
.mobileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    box-shadow: 1px 10px 5px 0px rgb(187, 182, 182);
    padding: 0 20px;
    font-size: 1.2rem;
}

