.reviewContainer {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    max-height: fit-content;
    border: 1px solid burlywood;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px auto;
    gap: 10px;
    text-align: left;
    padding: 20px;
    justify-content: center;
}

.reviewContainer > p {
    font-size: 0.9rem;
    font-style: italic;
}

