.serviceContainer {
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid burlywood;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.serviceContainer > img {
    height: 150px;
    border-bottom: 1px solid rgb(145, 141, 141);
    object-fit: cover;
}
.serviceText {
    text-align: left;
    padding: 20px;
}
.serviceText > p {
    font-size: 0.9rem;
}
